@model netCoreWorkshop.Entities.Article

@{
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>
<div class="form-horizontal">
    <h4>Article</h4>
    <hr />
    <div class="form-group">
        <label asp-for="Id" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Id" class="form-control" readonly="readonly" />
        </div>
        <label asp-for="Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Title" class="form-control" readonly="readonly" />
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
